*{
	margin: 0px;
	padding: 0px;
	font-family: 'Arvo', serif;
}

h1{
	text-align: center;
	padding: 30px;
	background-color: #ccc;
	color: #fff;
}
a{
	text-decoration: none;
}


footer{
	clear: both;
	text-align: center;
	padding: 20px;
	background-color: #ccc;
	color: #fff;
	font-size: 30px;
}

.icon-user-plus{
	font-size: 70px;
	text-align: center;
	color: #0f6;
	margin: 10px;

}

.icon-pencil{
	font-size: 20px;
	color: #00f;
}

.icon-cross{
	font-size: 20px;
	color: #f00;
}